<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Define your beans here -->
    <bean id="myFortuneService"
          class="com.practice.springdemo.HappyFortuneService"/>
    <!-- define the dependency -->

    <bean id="badmintonCoach"
          class="com.practice.springdemo.BadmintonCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>
    <bean id="myCoach"
          class="com.practice.springdemo.TrackCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.practice.springdemo.CricketCoach">
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="emailAddress" value="dummy_email_address@dummy.com"/>
        <property name="team" value="Dummy Cricket Team"/>
    </bean>

</beans>





